@font-face {
    font-family: 'retro';
    src:    url('../fonts/retro.eot?iwn5u4');
    src:    url('../fonts/retro.eot?iwn5u4#iefix') format('embedded-opentype'),
        url('../fonts/retro.ttf?iwn5u4') format('truetype'),
        url('../fonts/retro.woff?iwn5u4') format('woff'),
        url('../fonts/retro.svg?iwn5u4#retro') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'retro' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reprezentuj:before {
    content: "\e90e";
}
.icon-retro-to-left:before {
    content: "\e900";
}
.icon-retro-to-right:before {
    content: "\e901";
}
.icon-retro-no-smoke:before {
    content: "\e902";
}
.icon-retro-coffe:before {
    content: "\e903";
}
.icon-retro-shower:before {
    content: "\e904";
}
.icon-retro-tv:before {
    content: "\e905";
}
.icon-retro-dryer:before {
    content: "\e906";
}
.icon-retro-air-cond:before {
    content: "\e907";
}
.icon-retro-elevator:before {
    content: "\e908";
}
.icon-retro-pool:before {
    content: "\e909";
}
.icon-retro-temp-control:before {
    content: "\e90a";
}
.icon-retro-alarm-clock:before {
    content: "\e90b";
}
.icon-retro-locker:before {
    content: "\e90c";
}
.icon-retro-wifi:before {
    content: "\e90d";
}
