// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Footer */

	#footer {
		@include padding(4em, 0);
		background: #ffffff;
		color: _palette(fg-light);

		.agency {

			font-size: 0.8em;
			line-height: 1.2em;
			display: block;
			position: relative;
			padding-left: 5em;

			a {
				color: _palette(fg-light);
			}
			.rcom-logo {
				font-size: 3.5em;
				display: inline-block;
				position: absolute;
				left: 0;
			}

		}
		.copyright {
			color: _palette(fg-light);
			font-size: 0.9em;
			margin: 0 0 _size(element-margin) 0;
			padding: 0;
			text-align: center;
		}
		.footer-menu {
			text-align: right;
			@include breakpoint(medium) {
				text-align: center;
			}
		}

		li {
			display: inline-block;
			list-style: none;
			margin-left: 0.5em;
			padding-left: 0.5em;

			&:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
			a {
				color: _palette(fg-light);
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.6em;
				&:hover {
					color: darken(_palette(fg-light), 15);
				}
				&:active {
					color: lighten(_palette(fg-light), 5);
				}
			}
		}

		@include breakpoint(medium) {
			@include padding(3em, 0);

			.copyright {
				// li {
				// 	display: block;
				// 	border-left: 0;
				// 	margin-left: 0;
				// 	padding-left: 0;
				// }
			}
		}
	}
